.news {
  padding: 25px 0px 0px 0px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__item {
    max-width: 700px;
    display: flex;

    background: #fff;
    border-radius: 5px;
    overflow: hidden;

    color: #333;
    line-height: 1.4;

    &:hover {
      .meta__photo {
        transform: scale(1.3) rotate(3deg);
      }
      .meta__details {
        left: 0;
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    &.alt {
      flex-direction: row-reverse;

      @media (max-width: $mobile) {
        flex-direction: column;
      }

      .item__description {
        &::before {
          left: inherit;
          right: -10px;
          @include skew(3deg);
        }
      }

      .meta__details {
        left: inherit;
        right: -100%;
      }

      &:hover {
        .meta__details {
          right: 0%;
        }
      }
    }
  }
}
.item {
  &__meta {
    flex: 0 0 40%;
    position: relative;

    @media (max-width: $mobile) {
      flex: 0 0 200px;
    }

    @media (max-width: $mobileSmall) {
      flex: 0 0 150px;
    }
  }

  &__description {
    padding: 15px 20px 15px 15px;
    flex: 1 1 auto;

    position: relative;
    z-index: 2;

    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      top: 0;
      bottom: 0;
      left: -10px;
      z-index: -1;
      background-color: #fff;
      @include skew(-3deg);
    }
  }
}
.meta {
  &__photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease 0s;
  }

  &__details {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 1;

    padding: 10px;

    transition: all 0.2s ease 0s;
    background: rgba(0, 0, 0, 0.6);

    color: #fff;
    font-size: rem(14);
  }
}
.description {
  &__title {
    font-size: rem(27);
    font-weight: 700;

    @media (max-width: $mobileSmall) {
      font-size: rem(22);
    }
  }

  &__source {
    padding: 5px 0px 17px 0px;

    color: #a2a2a2;
    font-size: rem(16);
    font-weight: 300;
    text-transform: uppercase;

    @media (max-width: $mobileSmall) {
      font-size: rem(14);
    }
  }

  &__content {
    position: relative;
    font-size: rem(16);

    @media (max-width: $mobileSmall) {
      font-size: rem(14);
    }

    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 5px;
      top: -12px;

      border-radius: 3px;
      background: #5ad67d;
    }
  }

  &__readmore {
    padding: 15px 0px 0px 0px;
    text-align: right;

    a {
      display: inline-block;
      position: relative;

      color: #5ad67d;
      font-size: rem(16);
      font-weight: 800;

      &:hover {
        &::after {
          margin: 0px 0px 0px 5px;
          opacity: 1;
        }
      }

      &::after {
        content: "→";
        margin: 0px 0px 0px -10px;
        opacity: 0;
        vertical-align: middle;
        transition: all 0.3s ease 0s;
      }
    }
  }
}
