.sources {
  padding: 25px 0px 0px 0px;

  &__body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__item {
    padding: 1em 2em;

    background: none;
    border: 2px solid #30c5ff;
    transition: all 0.3s ease 0s;

    color: #70d6ff;
    line-height: 1;

    cursor: pointer;

    &:hover,
    &:focus {
      border-color: #3fcc59;
      color: #69db7e;
      box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
      transform: translateY(-0.25em);
    }
  }
}
.buttons {
}
.item {
  &__name {
    font-size: rem(16);
    font-weight: 400;
    white-space: nowrap;
  }
}
