@use "sass:math";

//<МИКСИНЫ>
@import "base/mixins";
//</МИКСИНЫ>

//<ШРИФТЫ>
//<Подключаем шрифты>
// @import "fonts/fonts";
//</Подключаем шрифты>

//<Шрифт по умолчанию>
$fontFamily: "Open Sans";
$fontSize: rem(14);
$mainColor: #000;
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
// Минимальная ширина страницы
$minWidth: 320;
// Ширина макета
$maxWidth: 1170;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1050;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
//</ПЕРЕМЕННЫЕ>

//<КОНТЕЙНЕР>
@if ($responsiveType == 1) {
  // Отзывчивая
  [class*="__container"] {
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding > 0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // Брейк-поинты
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding > 0 and $maxWidthContainer > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}
//</КОНТЕЙНЕР>

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>
@import "base/null";

html {
  scroll-behavior: smooth;
}
body {
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #121315;
  display: flex;
  flex-direction: column;
  > main {
    flex: 1 1 auto;
  }
  // &.loaded {}
}
//</ОБОЛОЧКА>

//<ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "header";
@import "home";
@import "footer";
//</ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
// @import "base";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
