//--------------------------------------------------------------
.header {
  padding: 10px 0px 0px 0px;

  &__body {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__logo {
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }

  &__title {
  }
}
//--------------------------------------------------------------
