.header--pets {
	padding: 30px 0;
}
.title--pets {
	color: #545454;
}
.subtitle--pets {
	color: #292929;
}
.icon--pets {
	span {
		background-color: #000;
	}
}
.body--pets {
	@media (max-width: 767px) {
		background-color: #F6F6F6;
	}
}
.item--pets {
	color: #545454;

	&:hover, &.active {
		color: #292929;
	}

	@media (max-width: 767px) {
		color: #545454;
	}
}