@font-face {
	font-family: Minesweeper;
	font-display: swap;
	src: url("../fonts/Minesweeper-Font.woff2") format("woff2"), url("../fonts/Minesweeper-Font.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Pixel;
	font-display: swap;
	src: url("../fonts/Pixel-Font.woff2") format("woff2"), url("../fonts/Pixel-Font.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
