.settings {
  width: 200px;

  position: absolute;
  bottom: 40px;
  left: 20px;

  font-size: rem(16);
  font-weight: 500;
  color: #000;

  &__button {
    position: absolute;
    bottom: -35px;
    left: 0;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &__body {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba($color: #000000, $alpha: .6);
    border-radius: 3px;
    background-color: #fff;

    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0;

    &.opened {
      visibility: visible;
      opacity: 1;
    }
  }

  &__difficulty {
  }

  &__bombs {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  &__records {
    padding: 0px 0px 10px 0px;
  }

  &__theme {
  }
}
.difficulty {

  &__option {
    opacity: 0.6;

    &.active {
      opacity: 1;
    }
  }
}
.theme {

  &__option {
    opacity: .6;

    &.active {
      opacity: 1;
    }
  }
}
